/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Tiny reset thingy */
body,html{margin:0;padding:0;}
body{overflow-y:scroll;overflow-x:hidden;perspective:1px;height:100%;}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
 /* height: 100vh;*/
 /*height:1000px;*/
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  /*overflow-x: hidden;
  overflow-y:auto;
  /* Enable scrolling on the page. */
  /*overflow-y: auto;*/
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  -webkit-perspective: 2px;
          perspective: 2px;
  perspective-origin: 0 0;
 /*-webkit-backface-visibility:inherit;*/
 margin:0;
 padding:0;
}
.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  /*position: relative;*/
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  /*height:30vh;*/
  height:300px;
  width:100%;
  /* For text formatting. */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
 	background-color:rgba(0,0,0,0);
 	padding:0;
 	margin:0;
}

/* The styling for the static div. */
.static {
	height:auto;
}
.static_par_0ht{
	height:0;
	display:block;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.parallax{
	position:relative;
	background-attachment:fixed;
	background-position:top center;
	background-size:cover;
	/*transform: translateZ(0x);*/
	/*transform: translateZ(-2px) scale(3);*/
}

.section.parallax.bg1 {
	height:1000px;
	background-image: url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/05/spine2.png');
}
.section.parallax.bg2{
	height:800px;
	background-image: url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/05/gear2.png');
}
.section.parallax.bg3{
	height:1000px;
	background-image:url("http://apsc-bionics.sites.olt.ubc.ca/files/2020/05/spine2.png");
}
/*.parallax::after {
  /* Display and position the pseudo-element 
  content: " ";
  position:fixed;
  /*-webkit-backface-visibility:visible;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  /*transform: translateZ(-1px) scale(1.5);
  background-attachment:fixed;
  transform: translate3d(0,0,0) translateZ(0x);
  -webkit-transform: translate3d(0,0,0);
  /*will-change:transform;*/
  /* Force the background image to fill the whole element. 
  background-size: cover;
  background-repeat:repeat-y;
  background-position: center;
  /* Keep the image from overlapping sibling elements.  
  z-index: -1;
}

.bg1::after{
background-image: url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/05/spine2.png');
}
.bg2::after {
  background-image: url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/05/gear2.png');
}
.bg3::after{
	background-image:url("http://apsc-bionics.sites.olt.ubc.ca/files/2020/05/spine2.png");
	background-position:bottom;
}
*/

	
