/* Tiny reset thingy */
/*try position fixed https://www.cssscript.com/fixed-position-parallax-scroll-effect-pure-css/*/
body,html{margin:0;padding:0;}

/*.wrapper {
  overflow-x: hidden;
  overflow-y:auto;
  margin-top:-10px;
}*/

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  position:relative;
  height:300px;
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;*/
}

.parallax-content {
	position:relative;
	overflow:hidden;
	height:80vh;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-position: center center;
	background-repeat:no-repeat;
	
	width:100%;
}

/*.parallax{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:0;
}
.parallax:before{
	content: "";
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	z-index:0;
	background-position:center top;
	background-repeat:no-repeat;
	background-size:120% auto;

}*/	
	

.static {
	height:auto;
	background-color:rgba(0,0,0,0);
	z-index:6;
}
.static_par_0ht{
	height:0;
	width:100%;
	padding:0;
	margin:0;
	display:block;
	z-index:5;
	margin-top:-10px;
}

.bg1, .bg3 {
height:400px;
}

.bg2{
	height:800px;
}
.bg2{
background-image: url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/09/gear2.jpg');}

