/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
	font-family:sans-serif;
	}

h1, h2, h3, h4, a{
	font-family:sans-serif;
	color:#185685;
	text-decoration:none;
	-webkit-transition:all 1s ease-out;
	-o-transition:all 1s ease-out;
	transition:all 1s ease-out;
}

.entry-content p{
	font-size:1em;
	color:#000;
}

a{
	color:#002145;
	cursor:pointer;
	text-decoration:none;
}



.full-width-container .expand.row-fluid, #container{
	padding-left:0;
	padding-right:0;
	/*max-width:1500px;*/
}
.full-width-container .expand.row-fluid{
	max-width:1500px;
}
.entry-meta{
	display:none;
}
/*.post-byline{
	display:none;
}*/
.entry-content{
/*background-image:url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/06/SPINALCONNECTIONS4.png');*/
background-size:100%;
padding-bottom:10px;
}
#content{
	background-image:url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/09/SPINALCONNECTIONSb_3.png');
	background-size:100%;
}

.hentry.page.publish.post1.odd>h1{
	color:white;
}
#socialmedia>h1{
color:white;
}

.navigation-links .pager{
	display:none;
}

.page-id-1450 .page-title.entry-title, .page-id-2209 .page-title.entry-title{
  display:none;
}

.hentry.page.publish.post-1.odd>h1{
margin-left:20px;
}
.page-id-2496 .hentry.page.publish.post-1.odd>h1{
	display:none;
}

/*.page-title.entry-title{

display:none;
}*/
.hentry.page.publish.post-1.odd>h1{
	color:white;
}

#container{
	padding-top:0;
}

.postCatNav{
  width:90%;
  /*min-width:880px;*/
  display:block;
  height:80px;
  	/*background-color: rgba(102,153,204,0.2);*/
  	margin-top:10px;
	margin-left:20px;
	margin-bottom:-40px;
	overflow:hidden;
  	float:left;
  	display:none;
}

.postCatHeadline{
	cursor:pointer;
	height:40px;
	/*margin-right:10px;*/
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	width:auto;
	max-width:300px;
	text-align:center;
	float:left;
	padding-left:5px;
	padding-right:5px;
	overflow:hidden;
	position:relative;
	/*background-image:url('http://apsc-bionics.sites.olt.ubc.ca/files/2020/05/popupbgL.png');*/
	/*background-color: rgba(102,153,204,0.2);*/
	background-color:rgba(165, 208, 231, 0.8);
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.postCatHeadline h2{
	/*line-height:24px;*/
	padding: 7px;
	font-size:18px;
	margin: auto;
}
.specialheadline{
	background-color:rgba(102,153,204,1);
}

.postCatHeadline:hover, .postCatHeadline.active{
	/*-webkit-transform:scale(1.1) translateX(0px);
	    -ms-transform:scale(1.1) translateX(0px);
	        transform:scale(1.1) translateX(0px);*/
  background-color:rgba(0,0,102,0.8);
	-webkit-transition: all 0.5s ease-in;	
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.postCatHeadline:hover h2, .postCatHeadline.active h2 {
  color:	#c2e3fc;
}

.wrapper_subpage{
	width:95%;

}
.postCatContainer{
	max-width:2000px;
	margin-left:20px;
	margin-right:20px;
	padding-left:20px;
	padding-right:20px;
	width:90%;
	font-family:sans-serif;
	background-color:rgba(255,255,255,0.8);
	overflow:hidden;
	display:block;
	/*height:1px;*/
	max-height:0px;
	opacity:0;
	/*-webkit-transition: opacity 0.5s ease-out, max-height 0.5s ease-out, all 0.5s ease-out 0.5s;
	-o-transition: opacity 0.5s ease-out, max-height 0.5s ease-out, all 0.5s ease-out 0.5s;*/
	/*transition: all 0.5s linear 0.5s, opacity 0.5s ease-out, max-height 0.5s ease-out, padding-top 0.5s ease-out, margin-top 0.5s ease-out;*/
	-webkit-transition: all 0.5s ease-out, margin-left 0.5s ease-out 0.5s, padding-left 0.5s ease-out 0.5s;
	-o-transition: all 0.5s ease-out, margin-left 0.5s ease-out 0.5s, padding-left 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out, margin-left 0.5s ease-out 0.5s, padding-left 0.5s ease-out 0.5s;
	float:none;
	clear:both;
	padding:0;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
	border: 0px solid rgba(165, 208, 231, 0.8);
}
.page-id-2395 .postCatContainer{
	width:100%;
}
.postCatContainer.def{
	max-height:10000px;
	-webkit-transition:all 0s ease 0s;
	-o-transition:all 0s ease 0s;
	transition:all 0s ease 0s;
}
.postCatContainer.expanded{
	max-height:10000px;
	opacity:1;
	/*height:auto;*/
	/*-webkit-transition: all 0.5s ease-in linear, opacity 0.5s ease-in 0.5s, max-height 0.5s ease-in 0.5s;
	-o-transition: all 0.5s ease-in linear, opacity 0.5s ease-in 0.5s, max-height 0.5s ease-in 0.5s;*/
	/*transition: all 0.5s linear, opacity 0.5s ease-in 0.5s, max-height 0.5s ease-in 0.5s;*/
	border: 2px solid rgba(165, 208, 231, 0.8);
	-webkit-transition: all 0.5s ease-in 0.5s, border 0.01s linear 0.5s, padding 0.01s linear 0.5s;
	-o-transition: all 0.5s ease-in 0.5s, border 0.01s linear 0.5s, padding 0.01s linear 0.5s;
	transition: all 0.5s ease-in 0.5s, border 0.01s linear 0.5s, padding 0.01s linear 0.5s;
	/*padding-top:20px;*/
	padding: 20px;
}
.postCatContainer.expanded.noanim{
	border-top-left-radius:10px;
}
.postCatContainer h2{
/*margin-left:15px;*/
}

.postContainer{
	width:80%;
	/*margin:10px;*/
	margin-top:10px;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	padding:10px;
	display:block;
	height:auto;
	overflow:hidden;
	float:left;
	border-radius:10px;
	/*border:2px solid #c0c2c0;*/
	border: 2px solid rgba(165, 208, 231, 0.8);
	max-height:400px;
	background-color:rgba(255,255,255,0.8);
}
.postContainer h3{
	padding-top:0;
	margin-top:0;
}
.postContainer a{
	font-weight:bold;
}
.descriptionContainer{
	border:none;
	background:none;
	padding:5px;
}
.postThumbnail{
	width:150px;
	padding:0px;
	height:100px;
	margin:5px;
	display:block;
	float:left;
	overflow:hidden;
}









.fadeclass{
	.aos_init;
	.aos_animate;
}







